li a {
 display: block;
 width: 150px;
 background-color: whitesmoke;
 text-align: center;
 text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
@media screen and (min-width: 400 px) and (max-width: 800 px), (min-width: 1000 px){
 {
  background-color: blue ; }}
body {
  background-color: paleturquoise;
} 